<%- include('../includes/header.ejs') %>
<body>
  <!-- nav 1 & nav 2-->
  <%- include('../includes/homenav.ejs') %>
  <!-- jumbotron -->
  <div class="row">
    <div class="col-12 col-md-12 text-center">
      <div class="jumbotron fluid">
        <h1 class="display-4">Books for You !</h1>
        <p class="lead text-left">Wanna sell your old books or get newer books at affordable prices !? Join us now, Book
          Store is a portal designed basically for bibliophile personality
          or someone who is new to reading culture and wants to explore a lot in this field but purchasing newer books
          could be a bit costlier sometimes specially if you are a student
          or someone who is not is his/her earning phase, so here is the solution, with Book Store you can purchase the
          second hand books of your choice at prices half or less than that and most importantly books in good
          condition.
          You can even sell old books at your demanding price after reading. </p>
        <hr class="my-4">
        <p class="lead">Register once and get started for all premium services free of cost !</p>
        <a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#exampleModal" role="button"><span class="fa fa-user-plus"></span> Register</a>
      </div>
    </div>
  </div>

  <!-- books -->

  <section class="homepagebooks">
    <%- include('../includes/booksforsale.ejs') %>
  </section>

  <%- include('../includes/footer.ejs') %>

</body>

</html>