<%- include('../includes/header.ejs') %>

  <body>
    <%- include('../includes/loggedinnav.ejs') %>

      <!-- books -->
      <section class="loggedinbooks">
        <%- include('../includes/booksforsale.ejs') %>
      </section>

      <%- include('../includes/footer.ejs') %>
  </body>

  </html>