<%- include('../includes/header.ejs') %>

  <body>
    <%- include('../includes/loggedinnav.ejs') %>
   
    
      <!-- books -->
      <section class="loggedinbooks">
        <div class="container">
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading text-center">Welcome to Book Exchange!</h4>
            <p>You are now enabled to use our services, here we is what all features we provide!
            <ul>
              <li>Safe and Secure Payment Environment.</li>
              <li>Verified Purchase.</li>
              <li>MySQL Database is being used for data storage.</li>
              <li>Website is 24*7 under monitoring.</li>
            </ul> 
            </p>
            <hr>
            <p class="mb-0">Mail us at bookexchange123@gmail.com for any complaints & suggestions.</p>
          </div>
        
        <div class="row mt-4">
          <div class="col text-center">
            <h6 class="mb-3 text-center align-items-center" style="font-size: 30px;font-family: 'Akronim', cursive;">All Books</h6>
          </div>
        </div>
        <%- include('../includes/booksforsale.ejs') %>
      </div>
      </section>

      <%- include('../includes/footer.ejs') %>
  </body>

  </html>