<%- include('../includes/header.ejs') %>
<body>
    <%- include('../includes/loggedinnav2.ejs') %>

    <!-- books -->

    <div class="container">
        <div class="row mt-4">
            <div class="col text-center">
                <p class="lead">Uploaded Items</p>
            </div>
        </div>

    </div>

    <%- include('../includes/footer.ejs') %>
</body>

</html>