<%- include('../includes/header.ejs') %>
<body>
    <body>
        <%- include('../includes/loggedinnav.ejs') %>
       
        
          <!-- books -->
          <section class="loggedinbooks">
            <div class="container">
            <div class="row mt-2">
              <div class="col text-center">
                <h6 class="mb-3 text-center align-items-center" style="font-family: 'Noto Sans Display', sans-serif;font-size: 30px;">My Books</h6>
              </div>
            </div>
            
            <%- include('../includes/booksforsale.ejs') %>
          </div>
          </section>
    
          <%- include('../includes/footer.ejs') %>
      </body>
    
    

       

   
</body>

</html>