<%- include('../includes/header.ejs') %>
<body>
    <%- include('../includes/loggedinnav.ejs') %>

    <!-- books -->

    <%- include('../includes/booksforsale.ejs',{prods:prods}) %>

       

    <%- include('../includes/footer.ejs') %>
</body>

</html>