
    
        <div class="container mt-4">
            <div class="row-footer text-center">
                <div class="col-12 col-md-12">
                    <p class="lead muted">Website made possible by Anjani & Tushar | © Boook Store 2021</p>
                </div>
            </div>
        </div>
   

<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
<script src="/jquery/dist/jquery.slim.min.js"></script>
<script src="/popper.js/dist/umd/popper.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>