<!-- nav 1 -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#"><span class="fa fa-book"></span> Boook Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><span class="fa fa-home"></span> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cart"><span class="fa fa-shopping-cart"></span> Cart </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/wishlist"><span class="fa fa-heart"></span> Wishlist </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addBook"><span class="fa fa-plus-square"></span> Sell Books </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/mybooks"><span class="fa fa-book"></span> My Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/showOrders"><span class="fa fa-shopping-bag"></span> My Orders</a>
      </li>
        <li class="nav-item">
          <form action="/logout" method="post">
          <button class="nav-link"  type="submit"><span class="fa fa-sign-out"></span> Log Out </button>
        </form>
        </li>
      </ul>
      <form class="form-inline my-4 my-lg-2">
        <input class="form-control mr-sm-4" type="search" placeholder="Search Books..." aria-label="Search">
        <button class="btn btn-outline-success my-4 my-sm-0" type="submit"><span class="fa fa-search"></span></button>
      </form>
    </div>
    
  </nav>
      <!-- nav 2 -->
      <%if(path=='/'){%>
      <div class="nav2">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">All Books <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Popular Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Books for Children</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Books by Author</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Books in Combo</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Books by Language
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Hindi</a>
                  <a class="dropdown-item" href="#">English</a>
                  <a class="dropdown-item" href="#">Marathi</a>
                  <a class="dropdown-item" href="#">Tamil</a>
                  <a class="dropdown-item" href="#">Kannada</a>
                  <a class="dropdown-item" href="#">Telegu</a>
                  <a class="dropdown-item" href="#">Punjabi</a>
                  <a class="dropdown-item" href="#">Gujarati</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Books by Genre
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Adventure</a>
                  <a class="dropdown-item" href="#">Horror</a>
                  <a class="dropdown-item" href="#">Fiction</a>
                  <a class="dropdown-item" href="#">Science</a>
                  <a class="dropdown-item" href="#">Non-fiction</a>
                  <a class="dropdown-item" href="#">Technology</a>
                  <a class="dropdown-item" href="#">Self-help</a>
                  <a class="dropdown-item" href="#">Spiritual</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <%}%>