<!-- nav 1 -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#"><span class="fa fa-book"></span> Boook Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><span class="fa fa-home"></span> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cart"><span class="fa fa-shopping-cart"></span> Cart </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/wishlist"><span class="fa fa-heart"></span> Wishlist </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addBook"><span class="fa fa-plus-square"></span> Sell Books </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/mybooks"><span class="fa fa-book"></span> My Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/showOrders"><span class="fa fa-shopping-bag"></span> My Orders</a>
      </li>
        <li class="nav-item">
          <form action="/logout" method="post">
          <button class="nav-link"  type="submit"><span class="fa fa-sign-out"></span> Log Out </button>
        </form>
        </li>
      </ul>
      <form class="form-inline my-4 my-lg-2">
        <input class="form-control mr-sm-4" type="search" placeholder="Search Books..." aria-label="Search">
        <button class="btn btn-outline-success my-4 my-sm-0" type="submit"><span class="fa fa-search"></span></button>
      </form>
    </div>
    
  </nav>
      <!-- nav 2 -->
      <%if(path=='/'){%>
      <div class="nav2 bg-light fixed-top">
        <%- include('../includes/categorynav.ejs') %>
      </div>
      <%}%>