<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<%- include('../includes/nav.ejs') %>
    </head>

    <body>

        <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul>
                    <% orders.forEach(product => { %>
                        <li>
                            <ul>
                                <% order.forEach((product,i) => { %>
                                    <%if(i==0){%>
                                        <p>ordered on: <%=product.order_time%></p>
                                        <%}%>
                                    <li><%= product.title %></li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
</body>
</html>