<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include('../includes/nav.ejs') %>
<body>
    <h1>this is home page</h1>
    <main>
        <% if (author.length > 0) { %>
            <div>
                <% for (let auth of author) { %>
                    <h4><a href="/authorBooks/<%=auth.author_id%>"><%=auth.name%></a></h4>
                    <% } %>
            </div>
            <% } else { %>
                <h1>No author found Found!</h1>
                <% } %>
    </main>
    
</body>
</html>