<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <% if (prods.length > 0) { %>
            <div>
                <% for (let product of prods) { %>
                        <div>
                            <h2><a href="/genreBook/<%=product.genre%>"><%= product.genre %></a></h2>
                            <!-- <p><%= product.description %></p> -->
                        </div>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
</body>
</html>